:root {
    --bg-color: #000;
    --border-color: #eee;
    --list-bg-color: #000;
    --f-color: #fff;
    --login-bg-color: #333;
    --signup-bg-color: #000;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: var(--f-color);
}

.tasks {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tasks>.back-btn {
    position: absolute;
    top: 20%;
    left: 20%;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--f-color);
    border: 4px double var(--border-color);
    padding: 20px;
}

.taskList {
    margin: 10px 0px;
}

.todoList {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    border: 4px double var(--border-color);
    list-style: none;
}

.todoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 10px;
    gap: 5px;
}

.updatetask {
    padding-left: 10px;
}

.label {
    font-size: 16px;
    line-height: 1.5;
    color: var(--f-color);
}

.label:hover {
    background-color: #444;
    cursor: pointer;
}

.actionIcons {
    display: flex;
    gap: 5px;
}

.actionIcon {
    cursor: pointer;
}

.signout {
    color: var(--f-color);
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 15px 10px;
    cursor: pointer;
}


.completed {
    text-decoration: line-through;
    color: var(--f-color);
}


.form-page {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inputField {
    font-size: 1.2rem;
    color: var(--f-color);
    width: calc(100% - 50px);
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    outline: none;
}

.button {
    background-color: var(--bg-color);
    color: var(--f-color);
    border: none;
    cursor: pointer;
}

button,
button[type="submit"] {
    background-color: var(--login-bg-color);
    color: var(--f-color);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}



@media screen and (max-width: 600px) {
    .tasks {
        margin-top: 40px;
    }
}